---
layout: default
comments:
  - author:
      type: full
      displayName: yanhaijing
      url: 'https://github.com/yanhaijing'
      picture: 'https://avatars0.githubusercontent.com/u/3192087?v=3&s=73'
    content: test
    date: 2017-04-10T11:00:47.512Z

---

<div class="home">

  <ul class="posts">
    {% for post in site.posts %}
      {% unless post.zhUrl %}
        <li>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <div class="post-link">
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% if post.enUrl %}
              <a href="{{ post.enUrl }}">(En)</a>
            {% endif %}
          </div>
          {{ post.excerpt }}
        </li>
        <br>
      {% endunless %}
    {% endfor %}
  </ul>

</div>
