<hr/>
<noscript>请打开JavaScript以支持评论系统 <a href="https://commentit.io/">By Comm(ent|it)</a></noscript>
<div id="commentit"></div>
<script type="text/javascript">
/** CONFIGURATION VARIABLES **/
var commentitUsername = 'LKI';
var commentitRepo = 'LKI/LKI.github.io';
var commentitPath = '{{ page.path }}';

/** DON'T EDIT FOLLOWING LINES **/
(function() {
  var commentit = document.createElement('script');
  commentit.type = 'text/javascript';
  commentit.async = true;
  commentit.src = 'https://commentit.io/static/embed/dist/commentit.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(commentit);
})();
</script>

{%if page.comments %}
{% assign sorted_comments = (page.comments | sort: 'date') %}
{% endif %}
{% for c in sorted_comments %}
<div class="media">
  <div class="media-left">
    <img src="{{ c.author.picture }}" alt="{{ c.author.displayName}}" height="73" width="73">
  </div>
  <div class="media-body">
    <p class="text-muted">
      {{ c.date | date: "%Y-%m-%d" }} <a href="{{ c.author.url }}">{{ c.author.displayName }}</a>
    </p>
    <p>{{ c.content | newline_to_br }}</p>
  </div>
</div>
{% else %}
目前还没有评论。
{% endfor %}
