/* global */

body {
  font-family: xkcd-script, "Arvo", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  margin: 0 20px;
}

article {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.post-ads {
  margin: 50px 0;
}

/* overwrite github-markdown */

.markdown-body {
  font-size: 18px;
}

/* i18n */

.Chinese .markdown-body {
  line-height: 200%;
}

/* fonts */

@font-face {
        font-family: xkcd-script;
        src: url('fonts/xkcd-script.woff') format('woff');
}

/* header */

.site-title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 32px;
}

.site-date-catalog {
  font-size: 2rem;
  font-weight: 500;
}

.signatures {
  font-family: xkcd-script, Impact, Charcoal, sans-serif;
}

.signatures a {
  text-decoration: none;
}

.header-line {
  width: 100%;
  border-width: 3px;
  border-color: #000;
  border-style: solid none none none;
  margin: 18px 0;
}

.lang-switch {
  font-weight: 600;
}

.site-header-right {
  display: flex;
  margin-left: auto;
}

.site-header-item {
  margin-right: 12px;
}

/* posts */

#posts-list {
  min-height: 70%;
}

.posts-date, .posts-title {
  font-size: 1.2rem;
}

.post-line {
  margin: 12px 0;
}

.site-footer {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  padding: 12px 0;
  border-width: 3px;
  border-style: solid none;
  border-color: #000;

}

.site-footer-left {
  display: flex;
}

.site-footer-right {
  display: flex;
  margin-left: auto;
}

.site-footer-item {
  margin-right: 12px;
}

/* post */

@media screen and (max-width: 600px) {
  .site-header {
    display: none;
  }
  .post-content {
    padding: 0 12px;
  }
  .post-content p {
    letter-spacing: 0.05em;
  }
}

.post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.post-desc {
  display: flex;
}

.post-header {
  margin-bottom: 50px;
}

.post-header-item {
  margin-left: 12px;
  margin-right: 12px;
}

.post-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.post-content {
  margin-bottom: 50px;
}

.post-content p {
  hyphens: auto;
  line-height: 1.6;
  text-align: justify;
  text-justify: ideographic;
  word-break: break-all;
  margin-bottom: 1em;
}

.releated-content {
  border-width: 3px;
  border-style: solid;
  border-color: #000;
  padding: 0 10px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.releated-content li {
  margin: 5px 0;
}

/* gallery */

.gallery-img {
  text-align: center;
}

.gallery-img span {
  text-align: center;
}
.gallery-img-desc {
  font-size: 0.8em;
  font-weight: 800;
}

/* disqus */

#disqus_thread {
  position: relative;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}
