<div class="site-footer">
  <div class="site-footer-left">
    <div class="site-footer-item">
      <span id="busuanzi_container_site_pv" style="display:none"> PV: <span id="busuanzi_value_site_pv"/> </span>
    </div>
    <div class="site-footer-item">
      <span id="busuanzi_container_site_uv" style="display:none"> UV: <span id="busuanzi_value_site_uv"/> </span>
    </div>
  </div>

  <div class="site-footer-right">
    {{ range .Site.Params.socials }}
    <div class="site-footer-item">
      <a href="{{ .link }}" target="_blank">{{ .name }}</a>
    </div>
    {{ end }}
  </div>
</div>
